.row
	%h3 Your Inventory (#{link_to 'New', new_inventory_path})

	%table.table.table-condensed.table-striped.table-hover
		%tr
			%th Label
			%th Grams
			%th
			%th

		- @inventories.each do |inventory|
			%tr
				%td= inventory.label
				%td= inventory.grams
				%td=link_to '', edit_inventory_path(inventory), :class=>'icon-pencil'
				%td=link_to '', inventory, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>'icon-remove'
